@use "~include-media/dist/include-media" as query;

.slot-checker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: inherit;
}

.slot-checker {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    max-width: 1216px;

    @include query.media(">=desktop") {
        margin: 2px 5% 2px 5%;
    }
}

.slot-toolbar-container {
    margin: 20px 20px 0 20px;
}

.slot-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 25px;
}

.slot-toolbar-item-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.slot-toolbar-item-group:nth-last-child(1) {
    @include query.media(">=1216px") {
        margin-left: auto;
    }
}

.slot-toolbar-item-group.search-fee-type {
    flex-grow: 1;
}

.slot-toolbar-item-group.menu-buttons {
    flex-grow: 1;
}

.menu-button-group {
    flex-wrap: wrap;
}

.slot-toolbar-item.search {
    min-width: 300px;
    //width: 100%;
}

.selectors {
    flex-grow: 1;
    flex-wrap: wrap;
}

.slot-toolbar-item.selector {
    max-width: 180px;
    flex-grow: 1;
    @include query.media(">=desktop") {
        width: 140px;
    }

    .bp4-button-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .bp4-popover2-target {
        width: 100%;
    }
}

.search {
    flex-grow: 1;
}

.fee-types-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include query.media("<=tablet") {
        display: none !important;
    }
}

.fee-types {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    //align-items: center;
    gap: 5px;
}

.bp4-control.fee-type-checkbox {
    margin-bottom: 0;
}

.selector-popover {
    max-height: 300px;
    overflow: auto;
}

.centers {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    border: #4f7dc7 solid 1px;
    margin: 20px 20px 20px 20px;
}

.centers-loading-spinner {
    display: flex;
    flex-grow: 1;
    align-self: center;
    height: 100%;
}

.center {
    margin: 10px 20px;
    max-width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.center-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 4px;
}

.center-name {
    font-size: 1rem;
}

.center-fee-type {
    margin: 2px 0;
}

.vaccine-fee-tags {
    @include query.media("<=phone") {
        margin-top: 5px;
    }
}

.sessions {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.sessions-skeleton {
    margin: 10px 10px;
}

.session > .bp4-text-overflow-ellipsis {
    display: flex;
    column-gap: 4px;
}

.fee-type {
    margin: 2px 2px;
}
