@use "~include-media/dist/include-media" as query;

#home {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-description {
    text-align: center;
}

.home-links {
    margin-top: 20px;
}

.about-logo {
    height: 40px;
    margin-bottom: 15px;
}

.home-help {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    @include query.media("<=phone") {
        max-width: 85%;
    }
}
