@use "~include-media/dist/include-media" as query;
@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/core/src/common/variables";

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    height: 13px;
    width: auto;
    fill: $pt-text-color;
    stroke: #182026;
    stroke-width: 0.1px;
    .#{$ns}-dark & {
        fill: $pt-dark-text-color;
        stroke: #f5f8fa;
    }
}

.app-route {
    @include query.media("<=phone") {
        overflow-x: clip;
    }
    overflow-y: scroll;
    flex-grow: 1;

    .#{$ns}-dark & {
        background-color: $pt-dark-app-background-color;
    }
}

.bp4-navbar-divider.navigation-divider {
    @include query.media("<=phone") {
        margin: 0 0;
    }
}
