@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "~@blueprintjs/core/src/common/variables";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/grid/columns.sass";


#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    height: 13px;
    width: auto;
    fill: $pt-text-color;
    stroke: #182026;
    stroke-width: 0.1px;
    .#{$ns}-dark & {
        fill: $pt-dark-text-color;
        stroke: #f5f8fa;
    }
}

.app-route {
    @include mobile {
        overflow-x: clip;
    }
    overflow-y: scroll;
    flex-grow: 1;

    .#{$ns}-dark & {
        background-color: $pt-dark-app-background-color;
    }
}

.bp3-navbar-divider.navigation-divider {
    @include mobile {
        margin: 0 0;
    }
}
